{% extends 'base.html.twig' %}

{% block title %}Evennement index{% endblock %}

{% block body %}
    <h1>Evennement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Img</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evennement in evennements %}
            <tr>
                <td>{{ evennement.id }}</td>
                <td>{{ evennement.titre }}</td>
                <td>{{ evennement.img }}</td>
                <td>{{ evennement.contenu }}</td>
                <td>{{ evennement.date ? evennement.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_evennement_show', {'id': evennement.id}) }}">show</a>
                    <a href="{{ path('app_evennement_edit', {'id': evennement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evennement_new') }}">Create new</a>
{% endblock %}
