{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    <table class="table article-table">
        <tbody class="article-tbody">
            <tr>
                <th class="article-table-header">Id</th>
                <td class="article-table-data">{{ article.id }}</td>
            </tr>
            <tr>
                <th class="article-table-header">Titre</th>
                <td class="article-table-data">{{ article.titre }}</td>
            </tr>
            <tr>
                <th class="article-table-header">ImgSrc</th>
                <td class="article-table-data"><img class='imgMiniatureAdmin' src="{{ asset('uploads/images/' ~ article.imgSrc) }}" alt="photo de l'article"></td>
            </tr>
            <tr>
                <th class="article-table-header">Date</th>
                <td class="article-table-data">{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th class="article-table-header">Contenu</th>
                <td class="article-table-data">{{ article.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <a class="txt-nouveauu" href="{{ path('app_article_index') }}">Retourner à la liste</a>

    <a class="txt-nouveauu" href="{{ path('app_article_edit', {'id': article.id}) }}">Éditer</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}




